/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/* colors */

:root {
  --cultured: #f0efef;
  --davys-grey: #4a494a;
  --eerie-black: #141317;
  --black-coffee: #2a191a;
  --light-gray: #d3d1d3;
}

/* global styles */

html,
body,
#root,
.app {
  min-height: 100%;
}

body,
.project--infos {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAACVBMVEUAAADU0tTUztQOiMTvAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAWhJREFUKJEVkkEKRSEIRd2kgs4VbD8KNjfwrfL7oUFF3Y7HwFWC6oWkBSSyN18OpgcxRpiDL4hBKZ3KWzk/0IdhGlh6CMqiIzEw/Ns7mRLhsZsQKiRtOvQRkIS7G5tcApYbhBhBMlBV2oVFyQZDwZ6RVFEghMYa9A3OLkL7Lai+TVM8ivoxHQX+J/nRRjPIEl0eOoIFlHVKtjqsjTZPryZnRmgc5EA33GM3xGLj+NMH6lqkFxnHAZGNLq4ja1iY02KYaAKSxBM7OhAoTjLXYijDQ7EznfqPTiPvEzX6f/Q1I73WEQLfaY4VbsUbHUrLNFEMmfO+cCzJBotgEd73+YKx083leSv+rPLod5GkYNu4LqKRbPV6rlP7eDBgGLe1LiPLhtMvrhM+++Ay27va3nYWR8m0ZTsZ8HXsrSCrJZDPlcuE8SK8tdEoSIRb6QyaL4TbEoyjek5tEuD+F2SJVlyJcdY170dS+gHgvQ2touCBLAAAAABJRU5ErkJggg==);
  background-color: var(--light-gray);
}

/* pointer click */

.clickable {
  cursor: pointer;
}

span {
  cursor: pointer;
}

/* scroll behavior */

/*typography*/

@font-face {
  font-family: "Europa";
  src: url("./src/assets/fonts/europa-light-webfont.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Europa";
  src: url("./src/assets/fonts/europa-regular-webfont.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Europa";
  src: url("./src/assets/fonts/europa-bold-webfont.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Europa", sans-serif;
  font-weight: 100;
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: var(--eerie-black);
  letter-spacing: -0.02em;
}

h1 {
  font-size: clamp(4.7rem, 22vw, 12.5rem);
  font-weight: 700;
  letter-spacing: -0.04em;
}

h2 {
  font-size: clamp(2.75rem, 11vw, 7.75rem);
  font-weight: 400;
  letter-spacing: -0.07em;
}

h3 {
  font-size: clamp(1.5rem, 6vw, 4rem);
  font-weight: 100;
  letter-spacing: -0.035em;
}

h4 {
  font-size: clamp(2rem, 11vw, 4rem);
  font-weight: 100;
  letter-spacing: -0.06em;
  text-transform: capitalize;
}

h5 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 700;
  letter-spacing: -0.04em;
}

p {
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.scroll--span {
  font-size: clamp(1.125rem, 4.5vw, 1.7rem);
  color: var(--eerie-black);
  font-weight: 700;
}

.navbar,
.navbar--link {
  color: var(--light-gray);
}

.navbar--section__item {
  font-size: clamp(1.7rem, 6vw, 2.5rem);
  text-transform: uppercase;
}

.navbar--sublist__item {
  font-size: clamp(1.3rem, 4.5vw, 1.7rem);
  text-transform: lowercase;
}

.navbar__display--text {
  color: var(--cultured);
  font-size: clamp(1.05rem, 4vw, 1.5rem);
}
/* Layout */

.app {
  display: flex;
  flex-direction: column;
  gap: 10dvh;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  min-height: 100dvh;
}

.paragraph--container {
  display: flex;
  flex-direction: column;
  max-width: 70ch;
  gap: clamp(1rem, 1.5vw, 2rem);
}

/* underline animation */

@media (hover: hover) {
  .hover-underline-animation {
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--eerie-black);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }

  a:hover .hover-underline-animation::after,
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  nav .hover-underline-animation::after {
    background-color: var(--cultured);
  }
}
