.home--section {
  justify-content: flex-end;
  align-items: center;
}

.central--text {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: right;
}

h3 {
  text-align: left;
}

.continue--scroll--container {
  align-self: flex-end;
}

.continue--scroll--container a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.6em;
}
