.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;

  gap: 1rem;
}

.project h4 {
  align-self: start;
}

.project a {
  max-width: 70%;
}

.project img {
  max-width: 100%;
}
