.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  scroll-snap-align: center;
}

.project h4 {
  align-self: start;
}

.project a {
  max-width: 70%;
}

.project img {
  max-width: 100%;
}

/* raise animation */

.raise {
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .raise:hover,
  .raise:focus {
    box-shadow: 0 3em 1.5em -2.5em #000000;
    transform: translateY(-0.5em);
    transition: all 0.3s ease;
  }
}
